@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<br/>
<h5>What is this site about?</h5>
<p>I want it to be a small collection of tools, and pages I could share to friends.<br/>My local version has a back-end, but the public version will be front-end only, and an SQLite Database.</p>

<h5>Why did you make this site?</h5>
<p>I started to job hunt recently (April 2024), and one of the companies I'm applying to is using the ASP.NET framework, so I made this website as a way to practice.</p>

<h5>What's the tech stack?</h5>
<p>HTML, CSS, Bootstrap, jQuery, ASP.NET, C#.</p>

<h5>Where are you hosting this?</h5>
<p>I'm hosting it for free at: Azure (Free Tier).</p>

<h5>Can I see the code?</h5>
<p>Sure. It's right here: <a href="https://github.com/kieferyap/toolfox" target="_blank">https://github.com/kieferyap/toolfox</a> (opens a new tab)</p>

