@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<h3>Toolfox</h3>
<h5>What is this site about?</h5>
<p>I want it to be a small collection of tools, and pages I could share to friends.<br/>My local version has a back-end, but the public version will be front-end only, and an SQLite Database.</p>

<h5>Why did you make this site?</h5>
<p>I started to job hunt recently (April 2024), and one of the companies I'm applying to is using the ASP.NET framework, so I made this website as a way to practice and learn.</p>

<h5>What's the tech stack?</h5>
<p>HTML, CSS, Bootstrap, jQuery, ASP.NET, C#.</p>

<h5>Where are you hosting this?</h5>
<p>I'm hosting it for free at: Azure (F1 Free Tier).<br/>
After a year (April 2025), I will run out of free credit, so this site will only be available for... "60 usage minutes per day".<br/>
If that happens, and this site has heavy traffic, I may have to ask for donations, or take art, translation, or small coding commissions to keep the site afloat.</p>

<h5>Can I see the code?</h5>
<p>Sure. It's right here: <a href="https://github.com/kieferyap/toolfox" target="_blank">https://github.com/kieferyap/toolfox</a> (opens a new tab)</p>

<h5>Can I give code review feedback?</h5>
<p>I am currently just starting out with ASP.net, so constructive feedback is very much appreciated!<br/>
You can send your feedback to my gmail, kiefer.yap, with the title, "[Toolfox] Feedback"</p>

<h5>What tool did you use to make the art for this site?</h5>
<p>I used Clip Studio Paint, and a Wacom Pen Tablet.</p>

<h5>I found a bug! Where can I report it?</h5>
<p>You can send your bug report to my gmail, kiefer.yap, with the title, "[Toolfox] Bug Report"<br/>
Please tell me what you did to make the bug appear. The more details the better.</p>

<h5>May I recommend some tourist spots for you to add to your "Places" page?</h5>
<p>Sure thing! I'll have to visit it first though.<br/>
You can send your recommendations to my gmail, kiefer.yap, with the title, "[Toolfox] Tourist Spot Recommendations"</p>

<h5>Do you plan on adding more tools?</h5>
<p>If I think of more things, definitely!</p>

<h5>May I suggest a tool?</h5>
<p>You can send your suggestions to my gmail, kiefer.yap, with the title, "[Toolfox] Tool Suggestions"</p>

<hr/>

<h3>Tools</h3>
<h5>Places</h5>
<ul>
    <li>A list of my personal recommendations for those who are coming to Japan, specifically in Tokyo.</li>
    <li>I used to have a Google Sheet of recommended places which I shared to friends who would come visit, so I thought that maybe I could make it a public page for easier shareability.</li>
</ul>
<h5>Flashcard</h5>
<ul>
    <li>A tool to generate flashcards for ALTs and English teachers. It makes use of special fonts that are easy to read.</li>
    <li>I used to have a website when I was a teacher called, "Personal ALT Website". You can see a demo video of it in action here: <a href="https://youtu.be/KjuQhT3P6Rk">https://youtu.be/KjuQhT3P6Rk</a></li>
    <li>After returning to programming, I kept the demo version of the site up for around a year for portfolio purposes, but around that time, Heroku discontinued their free service. At that point, I was no longer using the site, it was racking up costs, and it didn't seem to have much traffic.</li>
    <li>I ended up discontinuing the site, but to my surprise... there was at least one person using the flashcard generator portion of the demo site.</li>
    <li><img src="~/images/about-flashcard-01.png" alt="A comment in my YouTube video saying that they found the Flashcard Creator useful."  /></li>
    <li>...which is why I brought it back.</li>
</ul>
