@{
    ViewData["Title"] = "Version History";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
  <tr>
    <th>v0.1.0</th>
    <td>2024-04-14</td>
    <td>Completed Places, Flashcard, and About pages</td>
  </tr>
</table>