@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/toolfox.png" height="150" class="mb-3" />
    <h1 class="display-4">Welcome</h1>
    <p>Please select a tool in the top navbar.</p>
</div>
